# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
env/

# Django
media/
/backend/media/
staticfiles/
.env
backend/.env
test.env
/test.env

# Node
node_modules/
/node_modules/
dist/
build/
/backend/package-lock.json

# IDE
.vscode/
/.vscode/
.idea/

# OS
.DS_Store
~$*.docx
