DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
DJANGO_ENABLE_SILK=False
DJANGO_USE_X_FORWARDED_PROTO=False
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False
DJANGO_SECURE_CONTENT_TYPE_NOSNIFF=True
DJANGO_SECURE_REFERRER_POLICY=same-origin
DJANGO_X_FRAME_OPTIONS=DENY
DRF_THROTTLE_ANON=120/hour
DRF_THROTTLE_USER=1000/hour
DRF_THROTTLE_AUTH_LOGIN=20/minute
DRF_THROTTLE_AUTH_REGISTER=10/minute
DRF_THROTTLE_SOCIAL_AUTH=20/minute
DRF_THROTTLE_SUPPLIER_REGISTRATION=5/minute
POSTGRES_DB=onlinestore
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0.0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_TIMEZONE=UTC
EMAIL_HOST=mailhog
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=noreply@onlinestore.local
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
